{
/*
* npm i -D babel-preset-es2015
* npm install --save-dev babel-preset-react
* npm install babel-plugin-transform-object-assign
**/
  "presets": ["es2015", "react", "es2015-loose", "stage-0"],
  "plugins":[
    "transform-object-assign",
    ["import", { "style": "css", "libraryName": "antd-mobile" }]
  ]
}